
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Login</title>
  </head>
  <body>
    
    <div class="container">
      <div class="forms">
        <div class="form login">
              <span class="title">Login</span>
              
              <form action="/login" method="POST">
                <div class="input-field">
                  <!-- <label for="email">Email</label> -->
                  <input type="email" id="email" name="email" placeholder="Enter your email" required>
                    <i class="uil uil-envelope icon"></i>
                  </div>
                  
                  <div class="input-field">
                    <!-- <label for="password">Password</label> -->
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    <i class="uil uil-lock icon"></i>
                    <i class="uil uil-eye-slash showHidePw"></i>
                  </div>
                  
                  <div class="checkbox-text">
                    <div class="checkbox-content">
                      <input type="checkbox" id="logCheck">
                      <label for="logCheck" class="text">Remember me</label>
                    </div>
                    
                    <a href="#" class="text">Forgot password?</a>
                  </div>
                
                  
                  <div class="input-field button">
                    <button type="submit" style="
                          border: none;
                          color: #fff;
                          font-size: 17px;
                          font-weight: 500;
                          letter-spacing: 1px;
                          border-radius: 6px;
                          background-color: #4070f4;
                          cursor: pointer;
                          transition: all 0.3s ease;
                          height: 100%;
                          width: 100%;
                          ">Login</button>
                  </div>
                  
                  
                  <div class="login-signup">
                    <span class="text">Not a member?
                      <a href="/register" class="text signup-link">Register</a>
                    </span>
                  </div>
                  <% if (messages.error) { %>
                    <%= messages.error %>
                  <% } %>
                </form>
              
              </div>
            </div>
          </div>      
  
</body>
</html>

